.contact {
    padding: 80px 0;
}

.title {
    margin-bottom: 40px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.item h4 {
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    .contact {
        padding: 50px 0;
    }

    .contacts {
        flex-direction: column;
        align-items: flex-start;
    }
}